*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenedor {
    background-color: #DDDADA;
   
}

.carousel{
    margin-top: 10px;
    width: 80%;
    margin-left: 10%;
    /* Flex aqui*/
    display: flex;
    
}

.title1{
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
}

.t1{
    color: white;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
    background-color: #84C722;
    border-radius: 19px;
    padding: 0px 20px;

}

.negocios{

    width: 90%;
    margin: 10px auto;
    border: 2px solid #707070;
    border-radius: 19px;
}
 
.container-description{
     padding: 10px; 
}
 
.title2{
     width: 100%;
     display: flex;
     justify-content: center;
}
 
.t2{
     color: white;
     background-color: #84C722;
     border-radius: 19px;
     text-align: center;
     padding: 5px 20px;
}
 
.container-content{
     width: 100%;
     display: flex;
}
.content{
     width: 70%;
     text-align: justify;
     margin-top: 20px;
}
 
.container-img{
     width: 30%;
}
 
.l2{
     margin: 0;
    
}

.title3{
    width: 90%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}


.t3{
    color: white;
    text-align: center;
    background-color: #84C722;
    border-radius: 19px;
    padding: 0px 10px;
   
}


.container-cards{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.card1 {
    width: 40%;
    background-color: #fff;
	padding: 2px 10px;
    margin: 5px;
	box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
	border-radius: 6px;
	text-align: justify;
    transition: all 0.25s;

}
.card1:hover{
	transform: translateY(-15px);
	box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);

}

.card2{
     width: 40%;
    background-color: #fff;
	padding: 2px 10px;
    margin: 5px;
	box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
	border-radius: 6px;
	text-align: justify;
    transition: all 0.25s;
}

.card2:hover{
	transform: translateY(-15px);
	box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);

}

.card-img{
    width: 100%;
    height: 284px;
    border-radius: 19px;
    border: 2px solid #707070;
   
}
.btn-leer{
    display: block;
	margin: auto;
	margin-bottom: 10px;
	width: 50%;
}

.aprendamos{

    width: 90%;
    margin: 10px auto;
    border: 2px solid #707070;
    border-radius: 19px;
    opacity: 1;
}

.title4{
    width: 90%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}


.t4{
    color: white;
    text-align: center;
    background-color: #84C722;
    border-radius: 19px;
    padding: 0px 10px;
   
}

.title5{
    width: 90%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}


.t5{
    color: white;
    text-align: center;
    background-color: #84C722;
    border-radius: 19px;
    padding: 0px 10px;
   
}

.title6{
    width: 90%;
    display: flex;
    justify-content: center;
    margin:30px auto;
}


.t6{
    color: white;
    text-align: center;
    background-color: #0093D8;
    border-radius: 19px;
    padding: 0px 10px;
   
}

.btn-mas{
    display: block;
	margin: auto;
	margin-bottom: 10px;
    margin-top: 80px;
	width: 50%;
}
.container-video{
    width: auto;
    margin: auto;
}

.copy{
    background-color: #234B5E;
    color: white;
}

.footer{
    background-color: #234B5E;
    color: white;
    
}

.social-bar {
	position: fixed;
	right: 0;
	top: 35%;
	font-size: 1.5rem;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	z-index: 100;
}


.icon {
	color: white;
	text-decoration: none;
	padding: .7rem;
	display: flex;
	transition: all .5s;
    width: 50px;
}

.icon-facebook {
	background: #2E406E;
}

.icon-twitter {
	background: #339DC5;
}

.icon-youtube {
	background: #E83028;
}

.icon-instagram {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
}

.icon:first-child {
	border-radius: 1rem 0 0 0;
}

.icon:last-child {
	border-radius: 0 0 0 1rem;
}

.icon:hover {
	padding-right: 5rem;
	border-radius: 1rem 0 0 1rem;
	box-shadow: 0 0 .5rem rgba(0, 0, 0, 0.42);
}

.container-footer{
    display: flex;
}

.social-bar2 {
	
	font-size: 1.5rem;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	z-index: 100;
    /* margin-left: 60px; */
    /* margin-top: 50px; */
}

.gallery-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 150px;
    padding: 20px;
    grid-gap: 10px;
}

.gallery__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
    
}

.gallery__item:nth-child(1){
    grid-row-start: span 2;
}
.gallery__item:nth-child(2){
    grid-row-start: span 2;
}

.gallery__item:nth-child(3){
    grid-row-start: span 2;
}

.gallery__item:nth-child(4){
    grid-row-start: span 2;
}
.gallery__item:nth-child(5){
    grid-row-start: span 2;
}
.gallery__item:nth-child(6){
    grid-row-start: span 2;
}
.gallery__item:nth-child(7){
    grid-row-start: span 2;
}
.gallery__item:nth-child(8){
    grid-row-start: span 2;
}

.gallery__item:nth-child(9){
    grid-row-start: span 4;
}
.gallery__item:nth-child(10){
    grid-row-start: span 2;
}
.gallery__item:nth-child(11){
    grid-row-start: span 2;
}
.gallery__item:nth-child(12){
    grid-row-start: span 2;
}
.gallery__item:nth-child(13){
    grid-row-start: span 4;
}
.gallery__item:nth-child(14){
    grid-row-start: span 2;
}
.gallery__item:nth-child(15){
    grid-row-start: span 2;
}
.gallery__item:nth-child(16){
    grid-row-start: span 2;
}

.sld{
    object-fit: cover;
}


@media screen and (min-width:360px){
    .container-content{
        display: block;
    }
    .content{
        width: 100%;
    }
    .container-img{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .container-video{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    
    .l2{
        margin: 0;
        width: 200px
    }
    .container-cards{
        display: block;
        margin-bottom: 20px;
    }
    
    .card1{
        width: 100%;
        margin: 20px auto;
    }
    .card2{
        width: 100%;
        margin: 25px 0px;
    }
    .t1{
        font-size: 30px;    
    }
      
    .t2{
          font-size: 20px;
    }
    .t3{
        font-size: 25px;
    }
    .t6{
        font-size: 25px;
    }
}

@media screen and (min-width:1024px){
    .container-content{
       width: 100%;
       display: flex;
    }
    .content{
       width: 70%;
    }

    .container-img{
       width: 30%;
    }

   .l2{
       width: 300px;
    }
    .container-cards{
        width: 90%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
    .card1 {
        width: 40%;
        background-color: #fff;
        padding: 2px 10px;
        margin: 5px;
        box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
        border-radius: 6px;
        text-align: justify;
        transition: all 0.25s;
    
    }
    
    .card2{
         width: 40%;
        background-color: #fff;
        padding: 2px 10px;
        margin: 5px;
        box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
        border-radius: 6px;
        text-align: justify;
        transition: all 0.25s;
    }

    .t1{
        font-size: 40px;    
      }
      
    .t2{
          font-size: 40px;
    }
    .t3{
        font-size: 40px;
    }
    .t6{
        font-size: 30px;
    }
}

@media screen and (min-width:1080px){
    .container-content{
       width: 100%;
       display: flex;
    }
    .content{
       width: 70%;
    }

    .container-img{
       width: 30%;
    }

   .l2{
       width: 300px;
    }
    .container-cards{
        width: 90%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
    .card1 {
        width: 40%;
        background-color: #fff;
        padding: 2px 10px;
        margin: 5px;
        box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
        border-radius: 6px;
        text-align: justify;
        transition: all 0.25s;
    
    }
    
    .card2{
        width: 40%;
        background-color: #fff;
        padding: 2px 10px;
        margin: 5px;
        box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
        border-radius: 6px;
        text-align: justify;
        transition: all 0.25s;
    }

    .t1{
        font-size: 40px;    
    }
      
    .t2{
          font-size: 40px;
    }
    .t3{
        font-size: 40px;
    }

    .t6{
        font-size: 30px;
    }
}
